# .NET temporära filer
bin/
obj/

# Visual Studio filer
.vs/
*.user
publish/
*.zip

# Inställningar med hemligheter (VÄLDIGT VIKTIGT!)
appsettings.json
local.settings.json

# Externa bibliotek - Använd ** för att hitta mappen överallt
**/wwwroot/lib/
