# .NET temporära filer
bin/
obj/

# Visual Studio filer
.vs/
*.user

# Inställningar med hemligheter (VÄLDIGT VIKTIGT!)
appsettings.json
local.settings.json

# Externa bibliotek - Använd ** för att hitta mappen överallt
**/wwwroot/lib/

3d90cea172427cbd389d6ea0db75afd9cc9afe1e8b549b97e3a19f005372e53104-713e2ea4-6d5a-4eaf-89cd-7ea9a0f56ad30031117033beef03