name: Build Blazor App

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Restore
        run: dotnet restore src/ImageWeb/ImageWeb/ImageWeb.csproj

      - name: Build
        run: dotnet build src/ImageWeb/ImageWeb/ImageWeb.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish src/ImageWeb/ImageWeb/ImageWeb.csproj -c Release -o publish